.container {
  width: 99vw;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  select {
    margin: 20px 0;
    height: 30px;
    padding: 5px;
    border: 1px solid #76b900;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 500;
  }
}

.lowestValueFound {
  border: 2px solid #76b900;
  border-radius: 2px;
  padding: 20px;
  margin: 20px 0;

  a {
    text-decoration: none;
    color: initial;
  }
  .nome {
    font-size: 18px;
    font-weight: 600;
  }

  .preco {
    color: #76b900;
    font-size: 20px;
    font-weight: 700;
  }
}

.god {
  color: #76b900;
  font-weight: 600;
  font-size: 16px;
}

.bad {
  color: #e53e3e;
  font-weight: 600;
  font-size: 16px;
}
.chart {
  width: 100%;
  height: 800px;
  display: flex;
}

.containerValues {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.values {
  margin: 20px 0px;
}

.linkHighAndLowValues {
  p {
    color: rgb(51, 51, 51);
    padding: 5px 0;
  }
}
